<section class="team-grid">
  <ul class="team-member-list">
    <li class="member">
      <div class="member-wrapper">
        <mat-card class="member-card">
          <div class="member-image">
            <img src="assets/images/photo1.png" alt="Bill Mahoney" title="Bill Mahoney" loading="lazy" />
          </div>
          <h2 class="member-name">Bill Mahoney</h2>
          <div class="member-role">
            <span>Product owner</span>
          </div>
        </mat-card>
      </div>
    </li>
    <li class="member">
      <div class="member-wrapper">
        <mat-card class="member-card">
          <div class="member-image">
            <img src="assets/images/photo2.png" alt="Saba Cabrera" title="Saba Cabrera" loading="lazy" />
          </div>
          <h2 class="member-name">Saba Cabrera</h2>
          <div class="member-role">
            <span>Art director</span>
          </div>
        </mat-card>
      </div>
    </li>
    <li class="member">
      <div class="member-wrapper">
        <mat-card class="member-card">
          <div class="member-image">
            <img src="assets/images/photo3.png" alt="Shae Le" title="Shae Le" loading="lazy" />
          </div>
          <h2 class="member-name">Shae Le</h2>
          <div class="member-role">
            <span>Tech Lead</span>
          </div>
        </mat-card>
      </div>
    </li>
    <li class="member">
      <div class="member-wrapper">
        <mat-card class="member-card">
          <div class="member-image">
            <img src="assets/images/photo4.png" alt="Skylah Lu" title="Skylah Lu" loading="lazy" />
          </div>
          <h2 class="member-name">Skylah Lu</h2>
          <div class="member-role">
            <span>UX Designer</span>
          </div>
        </mat-card>
      </div>
    </li>
    <li class="member">
      <div class="member-wrapper">
        <mat-card class="member-card">
          <div class="member-image">
            <img src="assets/images/photo5.png" alt="Griff Richards" title="Griff Richards" loading="lazy" />
          </div>
          <h2 class="member-name">Griff Richards</h2>
          <div class="member-role">
            <span>Developer</span>
          </div>
        </mat-card>
      </div>
    </li>
    <li class="member">
      <div class="member-wrapper">
        <mat-card class="member-card">
          <div class="member-image">
            <img src="assets/images/photo6.png" alt="Stan John" title="Stan John" loading="lazy" />
          </div>
          <h2 class="member-name">Stan John</h2>
          <div class="member-role">
            <span>Developer</span>
          </div>
        </mat-card>
      </div>
    </li>
  </ul>
</section>
